<!DOCTYPE html>
<html lang="en">
    <body>

    Hi,
    <p>
      You have been invited by ${adminName} to join ${companyName} on inprice.io.

      If you are not interested in this platform, you can safely click the rejection link below or simply ignore this email.

        In order to join ${companyName}, please click this link:
        ${baseUrl}/invitation/join/?token=${confirmToken}

        OR

        To reject, visit this link:
        ${baseUrl}/invitation/reject/?token=${rejectToken}

        Thank you for using the platform!
    </p>
    <strong>inprice</strong> Security Team

    </body>
</html>