<!DOCTYPE html>
<html lang="en">
    <body>

    Dear <strong>${name},</strong>
    <p>
        You have been requested a password reset.

        If you did not make this request, you can safely ignore this email. A password reset request can be made by anyone,
        and it does not indicate that your account is in any danger of being accessed by someone else.

        If you do actually want to reset your password, visit this link:

        ${url}/?token=${token}

        Thank you for using the platform!
    </p>
    <strong>inprice</strong> Security Team

    </body>
</html>