<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      You have been requested a password reset. If you did not make this
      request, you can safely ignore this email. A password reset request can be
      made by anyone, and it does not indicate that your account is in any
      danger of being accessed by someone else.
    </p>

    <p>If you do actually want to reset your password, visit this link:</p>

    <p>${url}?token=${token}</p>

    <p>Thank you for using the platform!</p>

    <p>inprice Security Team</p>
  </body>
</html>
