<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      We are sorry to inform you that all the operations of - ${account} - have been stopped.
      This situation happened due to the expiration of the ${model} you were using.
      If you wish to continue using the platform please subscribe a new plan.
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      We are always happy to getting feedback from you.
    </p>

    <div>Best regards,</div>
    <p>inprice Support Team</p>
  </body>
</html>
