<!DOCTYPE html>
<html lang="en">
    <body>

    Hi,
    <p>
      You have been invited by ${adminName} to join ${companyName} on inprice.io.

      If you are interested in this invitation, you can safely click the confirmation link below
      <strong>Confirmation</strong> link: ${url}/?token=${confirmToken}

      Otherwise, you can safely click the rejection link below or simply ignore this email.
      <strong>Rejection</strong> link: ${url}/?token=${rejectToken}

      Thank you for using the platform!
    </p>
    <strong>inprice</strong> Security Team

    </body>
</html>