<!DOCTYPE html>
<html lang="en">
    <body>

    Hi,
    <p>
      You have been invited by ${admin} to join ${company} on inprice.io.
      
      You have three options:

      <ul>
        <li>
          If you want to confirm the invitation via link, please click the link below
          <p>
            <strong>Confirmation</strong> link: ${url}/?token=${token}
          </p>
        </li>

        <li>
          You may want to confirm or reject the invitation from your settings, please login inprice first
          then you can visit your settings page.
        </li>

        </li>
          Or you can safely ignore this email.
        <li>
      </ul>

      Thank you for using the platform!
    </p>
    <strong>inprice</strong> Security Team

    </body>
</html>