<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      Unfortunately, we would like to inform you that we are unable to authorize
      your credit card payment for your subscription to inprice.
    </p>

    <p>No worries! We will try to get paid.</p>

    <p>For ${days} more days, you will receive this email just once a day unless your payment realised.</p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      Best regards,
    </p>

    <p>inprice Support Team</p>
  </body>
</html>
