<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      We are happy to inform you that we have received your payment and your subscription is managed.
    </p>

    <p>The details of your subscription:</p>
    <div>
      <strong>Plan Name : </strong>${planName}
      <strong>Renewal Date : </strong>${subsRenewalAt}
    </div>

    <p>
      You can check and download your bill from the link below
      <div>${invoiceUrl}</div>
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      Best regards,
    </p>
    
    <p>inprice Support Team</p>
  </body>
</html>
