<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      We would like to inform you that we are unable to authorize your credit
      card payment for the subscription of your company - ${company} - We regret to say that this
      was the final trying. As of the date of this mailing, your subscription is
      stopped. We will not try to charge you again.
    </p>

    <p>
      Please note that you are always welcome if you want to subscribe the
      platform again.
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      We are always happy to getting feedback from you.
    </p>

    <div>Best regards,</div>
    <p>inprice Support Team</p>
  </body>
</html>
