<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      We would like to inform you that we are unable to authorize your credit
      card payment for the subscription of your company - ${company}.
    </p>

    <p>No worries! We will try to get paid for ${days} more days.</p>

    <p>
      You will be receiving this email just once a day unless your payment
      realised till ${lastTryingDate}.
    </p>

    <p>
      Your subscription will automatically renewed once your payment approved.
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      We are always happy to getting feedback from you.
    </p>

    <div>Best regards,</div>
    <p>inprice Support Team</p>
  </body>
</html>
