<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      You have just requested to register a new company from -
      <strong>${company}</strong> - In order to complete the registration, use
      the activation code below.
    </p>

    <p>Activation Code: <strong>${token}</strong></p>

    <p>
      Please note: this code will expire after 3 hours from this mailing time.
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      We are always happy to getting feedback from you.
    </p>

    <div>Best regards,</div>
    <p>inprice Security Team</p>
  </body>
</html>
