<!DOCTYPE html>
<html lang="en">
    <body>

    Dear <strong>${user}</strong>,
    <p>
      You have just requested to register a new company <strong>${company}</strong> on inprice.io.
      In order to complete the registration, use the activation code below.

      <p>
        Activation Code: <strong>${token}</strong>
        Please note: this code will expire after 3 hours from this mailing time.
      </p>

      Thank you for using the platform!
    </p>

    <strong>inprice</strong> Security Team

    </body>
</html>