<h1>Welcome to Inprice</h1>

<p>Thanks for trying inprice. We’re thrilled to have you on board.</p>

<div class="f-fallback align-center"><strong>Your account information</strong></div>

<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td class="attributes_content">
      <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <th class="f-fallback col_key">Account</th>
          <td class="f-fallback col_value">${account}</td>
        </tr>
        <tr>
          <th class="f-fallback col_key">Email</th>
          <td class="f-fallback col_value">${email}</td>
        </tr>
        <tr>
          <th class="f-fallback col_key">Login</th>
          <td class="f-fallback col_value">https://app.inprice.io/login</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>
  <strong>Please note,</strong> <br>
  You are allowed to create multiple accounts for one email address. 
  And also, you can have multiple accounts for different email addresses.
</p>
