<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      We are happy to inform you that we have received your payment.
      And, your plan transition from - ${fromPlan} - to - ${toPlan} - has been successfully completed.
    </p>

    <p>Your actual plan is now ${toPlan}</p>

    <div>
      We have issued a coupon for the days remaining after you downgraded. Here are the details; You
      are free to use it whenever you want. You can use it in another account or
      even give away it to one of your friends
      <ul>
        <li>Coupon: <strong>${couponCode}</strong></li>
        <li>Plan: <strong>${fromPlan}</strong></li>
        <li>Days: <strong>${days}</strong></li>
      </ul>
    </div>

    <p>
      You can check and download your bill stemming from transition from the link below
      <div>${invoiceUrl}</div>
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      We are always happy to getting feedback from you.
    </p>

    <div>Best regards,</div>
    <p>inprice Support Team</p>
  </body>
</html>
