<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      We are happy to inform you that we have received your payment.
      The subscription of your company - ${company} - is extended to ${subsRenewalAt}.
    </p>

    <p>Your actual plan is ${plan}</p>

    <p>
      You can check and download your bill from this link
      <div>${invoiceUrl}</div>
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      We are always happy to getting feedback from you.
    </p>

    <div>Best regards,</div>
    <p>inprice Support Team</p>
  </body>
</html>
