<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      We are sorry to inform you that your subscription to inprice has been stopped.
      We would like you to know that we had tried to get paid for three days
      more after the end of your renewal date but unable to do that.
    </p>

    <p>
      Please note that you are always welcome if you want to subscribe the platform again.
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      We are always happy to getting feedback from you.
    </p>

    <div>Best regards,</div>
    <p>inprice Support Team</p>
  </body>
</html>
