<!DOCTYPE html>
<html lang="en">
  <body>
    Dear <strong>${user}</strong>,
    <p>
      We would like to inform you about your approved subscription to inprice. You can use the platform from now on.
    </p>

    <p>
      Please note that next renewal will be one month later on <strong>${subsRenewalAt}</strong>
    </p>

    <p>Thank you for using the platform!</p>

    <p>
      If you have any questions, please don't hesitate to contact our support.
      Best regards,
    </p>

    <p>inprice Support Team</p>
  </body>
</html>
